*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #d2e6d0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

#habit-input{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#add-btn{
    border: 1px solid red;
    background-color: bisque;
    padding: 5px;
    margin-bottom: 10px;
}
#habit-list{
    width: 250px;
    height: auto;
    list-style: none;
}

.habit-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.habit-text{
    cursor: pointer;
    flex-grow: 1;
}

.habit-text.completed{
    text-decoration: line-through;
    color: #888;
}

.delete-btn{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* Червоний колір, якщо прогрес нульовий */
.progress-low{
    color: #dc3545;
    font-weight: bold;
}

/* Жовтий/помаранчевий колір, якщо процес пішов, але ще не фінал */
.progress-medium {
    color: #ffc107;
    font-weight: bold;
}

/* Зелений колір, коли виконано абсолютно всі звички*/
.progress-full {
    color: #28a745;
    font-weight: bold;
}